section#quote.quote(style="background-image: url(/img/quote-of-the-day/qotd-bg--jackie-chan.jpg);")
  article.quote-message
    q.quote-message--text Não deixe as circunstâncias controlarem você. Você que tem que mudar as suas circunstâncias.
    address.quote-message--author Jackie Chan

  //- SocialShare component referenced from: /views/components/social-share.pug
  //-
  //- siteShare object referenced from: /views/includes/vars.pug
  //- .social-share(style="background-image: url("+siteShare.bg+");")
  //-   each social in siteShare.socials
  //-     +socialShare(social, true)