.featured-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-top: -8rem;
  padding-right: calc((100vw - 1300px) / 2);
  padding-left: calc((100vw - 1300px) / 2);

  .video-card {
    max-width: calc(33% - 1rem);
  }
}