.header {
  position: absolute;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 2em calc((100vw - 1300px) / 2);

  .logo + .logo { display: none; }
  
  &.--scrolled {
    position: fixed;
    
    padding: 1em calc((100vw - 1300px) / 2);
    
    background-color: white;
    box-shadow: 0 12px 24px rgba(black, .12);
    
    animation: slideIn ease 1;
    animation-fill-mode: forwards;
    animation-duration: 260ms;

    .logo {
      &.white { display: none; }
      &.black { display: block; }
    }

    .nav {
      color: black;
    }
  }
}