<!DOCTYPE html>
html
  include includes/vars.pug
  include includes/head.pug
  include includes/data.pug
  include includes/components.pug

  body

    main#home.page
      - var darkBG = true;

      include sections/header.pug
      include sections/cover.pug
        

    include includes/scripts.pug
    