//- Categories
//-
//- Responsible to hold each category information.

-
  var categories = {
    "raiox": {
      "name": "Raio-X",
      "img": {
        "black": "/img/logos/logo-serie--raio-x--black.svg",
        "white": "/img/logos/logo-serie--raio-x--white.svg",
      }
    }
  }