//- Categories
//-
//- Responsible to hold each category information.

-
  var categories = {
    "raiox": {
      "name": "Raio-X",
      "meta": "raiox",
      "description": "A série Raio-X tem como objetivo mostrar a essência do protagonista. O conceito é extrair o DNA do sucesso de cada mentor através de perguntas profundas sobre vários aspectos de vida, sua visão de mundo, e seus relacionamentos interpessoais.",
      "bg": "/img/series-covers/cover-serie--raio-x.jpg",
      "img": {
        "black": "/img/logos/logo-serie--raio-x--black.svg",
        "white": "/img/logos/logo-serie--raio-x--white.svg",
      }
    },
    "estudodecaso": {
      "name": "Estudo de Caso",
      "meta": "estudodecaso",
      "description": "A série Estudo de Caso consiste de filmes produzidos com proprietários e diretores de empresas de sucesso, tanto as que já estão consolidadas, quanto projetos promissores, em início de operação. O objetivo é inspirar e contribuir para  o aumento do conhecimento de quem procura ser bem sucedido na vida profissional, gerando insights das histórias de quem já chegou lá e de quem está no caminho.",
      "bg": "/img/series-covers/cover-serie--estudo-de-caso.jpg",
      "img": {
        "black": "/img/logos/logo-serie--estudo-de-caso--black.svg",
        "white": "/img/logos/logo-serie--estudo-de-caso--white.svg",
      }
    },
    "semfronteiras": {
      "name": "Sem Fronteiras",
      "meta": "semfronteiras",
      "description": "A série Sem Fronteiras não tem roteiro pré-definido, ou barreiras geográficas. O objetivo principal é produzir vídeos com insights relevantes sobre os mais diversos assuntos, de vários lugares do mundo.",
      "bg": "/img/series-covers/cover-serie--sem-fronteiras.jpg",
      "img": {
        "black": "/img/logos/logo-serie--sem-fronteiras--black.svg",
        "white": "/img/logos/logo-serie--sem-fronteiras--white.svg",
      }
    },
    "linhadotempo": {
      "name": "Linha do Tempo",
      "meta": "linhadotempo",
      "description": "A série Linha do Tempo retrata a vida pessoal e profissional de um mentor, contada apenas por ele. O conceito da série introduz a história desde a infância até seu momento atual do mentor, gerando vídeos atemporais e inspiradores.",
      "bg": "/img/series-covers/cover-serie--linha-do-tempo.jpg",
      "img": {
        "black": "/img/logos/logo-serie--linha-do-tempo--black.svg",
        "white": "/img/logos/logo-serie--linha-do-tempo--white.svg",
      }
    }
  }

// Returns the categories object as array
- var categoriesList = Object.values(categories)
// Returns the categories object length
- var categoriesLength = Object.keys(categories).length