//- FEATURED DATABASE
//- Type: Child
//-
//- This database references the Videos Database to collect useful information about which videos to display as featured.

-
  var featured = {
    "cover": videos.wendellcarvalho, /* - Video referenced from: /views/_data/videos.pug */

    "recent": videos, /* - Videos referenced from: /views/_data/videos.pug */
  }