//-----------------------------------------
//-    PROFILE DATABASE
//-    Type: Mother
//-
//-    This database will hold the profiles of each person recorded by the Mentores Online team, with useful information about the person, like a nice profile pic and social media links.
//-
//-    PROFILES OBJECT: [PROFILE Object]
//-
//-----------------------------------------
//-
//-    PROFILE OBJECT:
//-    * Meta: Key ID
//-    * Name: Name of the person
//-    * Job: The job title of that person, or how he/she identifies him/herself.
//-    * Quote: A quote they like, or a mere description of who they are.
//-    * Links: [Array] 
//-      |-- [Object]:
//-      |   - Type: REF. specific [LINKS] Object.
//-      |   - Handle: The link/social handle.
//-    * Images: [Object]
//-       |-- Profile: The profile picture
//-
//-----------------------------------------

-
  var profiles = {
    "wendellcarvalho": {
      "meta": "wendellcarvalho",
      "name": "Wendell Carvalho",
      "job": "Palestrante e Escritor",
      "quote": "Tudo começou quando eu...",
      "links": [
        {
          type: links.facebook,
          handle: "wendellcarvalho",
        },
        {
          type: links.instagram,
          handle: "wendellcarvalho",
        },
        {
          type: links.website,
          handle: "wendellcarvalho",
        },
      ],
      "images": {
        "profile": "wendell-carvalho",
      },
    },
  }