//- PROFILE DATABASE
//- Type: Mother
//-
//- This database will hold the profiles of each person recorded by the Mentores Online team, with useful information about the person, like a nice profile pic and social media links.

-
  var profiles = {
    "wendellcarvalho": {
      "meta": "wendellcarvalho",
      "name": "Wendell Carvalho",
      "title": "Palestrante e Escritor",
      "description": "Tudo começou quando eu...",
      "socials": [
        {
          "name": "facebook",
          "handle": "wendellcarvalho",
        },
        {
          "name": "instagram",
          "handle": "wendellcarvalho",
        },
      ],
      "picture": "wendell-carvalho",
    },
    "rosanabraga": {
      "meta": "rosanabraga",
      "name": "Rosana Braga",
      "title": "Palestrante e Escritor",
      "description": "Tudo começou quando eu...",
      "socials": {
        "facebook": "rosanabraga",
        "instagram": "rosanabraga",
      },
      "picture": "rosana-braga",
    },
    "rodrigocardoso": {
      "meta": "rodrigocardoso",
      "name": "Rodrigo Cardoso",
      "title": "Palestrante e Escritor",
      "description": "Tudo começou quando eu...",
      "socials": {
        "facebook": "rodrigocardoso",
        "instagram": "rodrigocardoso",
      },
      "picture": "rodrigo-cardoso",
    },
  };