//- Supporters
//- Type: Mother
//- 
//- Responsible to hold each supporter information.

-
  var supporters = [
    {
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "img": "/img/supporters/supporter-logo--clinks.svg",
    },
  ]