//-----------------------------------------
//-     SUPPORTERS DATABASE
//-     Type: Child
//- 
//-     Responsible to hold each supporter information.
//-
//-    SUPPORTERS ARRAY:
//-    * Name: Name of the company
//-    * URL: The URL of the company's website
//-    * Logo: The company's logo
//-
//-----------------------------------------

-
  var supporters = [
    {
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },{
      "name": "Clinks",
      "url": "#url",
      "logo": "/img/supporters/supporter-logo--clinks.svg",
    },
  ]