.cover {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
  height: 100%;

  @extend %padding;
  padding-bottom: 3rem;

  background-color: #222222;
  background-size: cover;
  background-position: top center;

  @media screen and (min-height: 1024px) {
    max-height: 1024px;
  }

  @media screen and (max-width: 1023px) {
    .row { flex-direction: column; }
  }

  .play-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: none;

      @extend %title;
      @extend %--x-small;
      @extend %--light;

      letter-spacing: 1px;
      margin-left: 1rem;
    }

    @media screen and (max-width: 1023px) {
      position: relative;
      justify-content: flex-start;

      margin-bottom: 4rem;

      img {
        max-width: 30px;
      }

      span {
        display: block;
      }
    }
  }
  
  &-video {
    max-width: 40%;
  
    padding-top: 6rem;
    padding-bottom: 6rem;
  
    z-index: 1;

    @media screen and (max-width: 1023px) {
      max-width: 80%;
      padding-bottom: 1.4rem;
    }
  
    &--category {
      max-width: 140px;
  
      margin-bottom: 1.2rem;
  
      opacity: .8;
    }
  
    &--title {
      @extend %title;
      @extend %--big;
      @extend %--light;
  
      margin-bottom: 1.2rem;
    }
  
    &--description {
      @extend %description;
      @extend %--normal;
      @extend %--light;
  
      font-weight: 500;
      line-height: 1.6;
  
      opacity: .8;
    }
  }
}