.nav {
  display: flex;
  align-items: center;

  &.--white { color: white; }
  &.--black { color: black; }

  .nav--link {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;

    margin-right: 3rem;
  }
}