extends ../../../templates/video-page.pug

block pageVars
  -
    var page = {
      title: "O futuro do Blockchain",
      subtitle: "",
      description: "Marcelo Peruzzo fala sobre Bitcoin, o futuro da tencologia blockchain, e explica o por que todos deveriam estudar essa nova tecnologia.",
      video: videos.blockchain,
    }
  - var darkBG = true;

